<h1><%= "#{@user.name}'s Dashboard" %></h1><br>
<br>
<div class="nav-container container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to 'Discover New Movies', user_discover_index_path(@user), style: 'pull-right' %></li>
    </ul>
  </nav>
</div>      
<br>
<section class="viewing_parties">
  <% if @invited_movies_facade.any? %>
    <h2>Viewing Parties Invited</h2>
    <% @invited_movies_facade.each_with_index do |movie_facade, index| %>
      <div class="viewing_party">
        <img src="https://image.tmdb.org/t/p/w500<%= movie_facade.movie_by_id.poster_path %>" alt="<%= movie_facade.movie_by_id.title %>">
        <p>Movie Title: <%= link_to movie_facade.movie_by_id.title, user_movie_path(@user, movie_facade.movie_by_id.id) %></p>
        <p>Party Time: <%= @invited_to_viewing_parties[index].date %> at <%= @invited_to_viewing_parties[index].start_time %></p>
        <p>Host: <%= @hosting_viewing_parties[index].find_host.name %></p>
        <p>Who's Coming?</p>
        <ol>
          <% @invited_to_viewing_parties[index].users.each do |attendee| %>
            <li><%= attendee.name %> </li>
          <% end %>
        </ol>
      </div><br>
    <% end %>  
  <% end %>
  
  <% if @hosting_movies_facade.any? %>
    <h2>Viewing Parties Hosting</h2>
    <% @hosting_movies_facade.each_with_index do |movie_facade, index| %>
      <div class="viewing_party">
        <img src="https://image.tmdb.org/t/p/w500<%= movie_facade.movie_by_id.poster_path %>" alt="<%= movie_facade.movie_by_id.title %>">
        <p>Movie Title: <%= link_to movie_facade.movie_by_id.title, user_movie_path(@user, movie_facade.movie_by_id.id) %></p>
        <p>Party Time: <%= @hosting_viewing_parties[index].date %> at <%= @hosting_viewing_parties[index].start_time %></p>
        <p>Host: You are the host!</p>
        <p>Who's Coming?</p>
        <ol>
          <% @hosting_viewing_parties[index].users.each do |attendee| %>
            <li><%= attendee.name %> </li>
          <% end %>
        </ol>
      </div><br>
    <% end %>  
  <% end %>
</section>
