<h1>New Viewing Party</h1>
<h3>Movie: <%= @movie.title %></h3>
<%= form_with url: user_movie_viewing_party_index_path(@user, @movie.id), method: :post, local: true do |f| %>
   <%= f.hidden_field :host, value: @user.id %>
   <%= f.label :duration, "Duration (Min):" %>
   <%= f.text_field :duration, value: @movie.runtime %><br/><br/>
   <%= f.label :date, "When:" %>
   <%= f.date_select :date %><br /><br/>
   <%= f.label :start_time, "Start Time:" %>
   <%= f.time_select :start_time %><br /><br/>
   <fieldset>
      <legend>Guests:</legend>
      <% User.all.each do |guest| %>
         <div>
            <%= check_box_tag 'viewing_party[user_ids][]', guest.id %>
            <%= label_tag "viewing_party[user_ids][]", guest.name %>
         </div>
      <% end %>
   </fieldset>
   <%= f.submit "Create Viewing Party" %>
<% end %>