<h1>New Viewing Party</h1>
<h3>Movie: <%= @movie.title %></h3>
<%= form_with url: user_movie_viewing_party_index_path(@user, @movie.id), method: :post, local: true do |f| %>
   <%= f.hidden_field :host, value: @user.id %>
   <%= f.label :duration, "Duration (Min):" %>
   <%= f.text_field :duration, value: @movie.runtime %><br/><br/>
   <%= f.label :date, "When:" %>
   <%= f.date_select :date %><br /><br/>
   <%= f.label :start_time, "Start Time:" %>
   <%= f.time_select :start_time %><br /><br/>
   <%= f.label :guests, "Guests:" %>
   <%= f.text_field :guest1 %><br/>
   <%= f.text_field :guest2 %><br/>
   <%= f.text_field :guest3 %><br /><br/>
   <%= f.submit "Create Viewing Party" %>
<% end %>